.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #005a6e;
  height: 100vh; /* Setzt die Höhe auf 100% der Viewport-Höhe */
  width: 100%; /* Setzt die Breite auf 100% der Elternbreite */
  margin: 0; /* Entfernt die Standardränder */
  padding: 0; /* Entfernt das Standardpadding */
}

.containerContent {
  height: 100%;
  color: white;
  background-color: #005a6e;
  padding-left: 100px;
  padding-right: 100px;
}

.btnGoToQuiz {
  text-decoration: none;
  margin-top: 15px;
}

button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #005a6e;
}

.question-info {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.question-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.option {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.answer-info {
  font-size: 1.2rem;
  margin-top: 20px;
}

.buttonAnswer {
  margin: 1px;
}

.hidden {
  display: none;
}
