/* Set general styles for the entire Quiz component */
.quiz-container {
  font-family: Arial, sans-serif;
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
}

/* Style the header of the Quiz component */
.quiz-header {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

/* Style the table used to display the quiz questions and answers */
.quiz-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.quiz-table th,
.quiz-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.quiz-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.quiz-table a {
  text-decoration: none;
  color: #333;
}

.quiz-table a:hover {
  text-decoration: underline;
}

.clicked {
  background: yellow;
}

.symbol {
  display: inline-block;
  width: 70px;
  height: 70px;
}
